{% extends 'index.html' %}

{% block title %}Consulting Services - Parcae.io{% endblock title%}

{%block content%}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="static/img/logo.png" alt="">
        </div>

        <h1>Parcae</h1>
        <h2>Development Hub for Climacus</h2>
      </div>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo mr-auto"><img src="static/img/logo.png" alt=""></a>
      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1 class="logo mr-auto"><a href="index.html">Imperial</a></h1> -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Consulting Services</h3>
            <h4 class="section-description">Python Based Cryptocurrency Trading Bots</h4>
          </div>
            <p class="class="section-description"">
              Coinbase and Oxcarbon (Switcheo SWTH) Bots! Custom grid bots and other potential strategies. Setup assistance. Send us a messaage!
            </p>
            <div class="col-lg-6 about-img">
              <img src="static/img/pos_plot.png" alt="">
            </div><p>
            <h4 class="section-description">Datasets, Technical Analysis and Machine Learning!</h4>
            <p class="class="section-description"">
              We can offer a plethora of data related services.
            <ul style="list-style-type:disc;">
              <li>Enterprise Resource Planning (SaaS)</li>
              <li>Data Extraction, Manilupation and Analytics (SQL or NOSQL)</li>
              <li>Microsoft Excel/Spreadsheet - Python Pandas</li>
              <li>Querying - Report Writing</li>
              <li>Flask - Django API's</li>
              <li>Linear - Polynomial Regression</li>
              <li>Machine Learning Models</li>
              <li>Google Cloud Platform (GCP) and Firebase</li>
            </ul></p>
            <div class="col-lg-6 about-img">
              <img src="static/img/swth_linear_prediction.png" alt="">
            </div>
        </div><p>

        <div class="row">
          <div class="col-md-12">

              <form action="" method="post" novalidate>
                  {{ form.hidden_tag() }}
                  <p>
                      {{ form.name.label }}<br>
                      {{ form.name(size=32) }}
                  </p>
                  <p>
                      {{ form.email.label }}<br>
                      {{ form.email(size=32) }}
                  </p>
                  <p>
                      {{ form.details.label }}<br>
                      {{ form.details(style='height: 100px', size=300) }}
                  </p>
                  <p>{{ form.submit() }}</p>
              </form>

        </div>
      </div><p>
      </div>

  </section><!-- End About Section -->

{% endblock content %}
