{% extends 'index.html' %}

{% block title %}Sent Form - Parcae.io{% endblock title%}

{%block content%}
    <section id="about">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">There was something wrong with your request.</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">Something went wrong with your request. It was not processed. Please try again.</p>
          </div>
        </div>
      </div><p>
{%endblock content%}
