{% extends 'index.html' %}

{% block title %}Consulting Services - Parcae.io{% endblock title%}

{%block content%}

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      <div class="hero-logo">
        <img class="" src="static/img/logo.png" alt="">
      </div>

      <h1>Parcae</h1>
      <h2>Development Hub for Climacus</h2>
    </div>
  </div>
</section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo mr-auto"><img src="static/img/logo.png" alt=""></a>
      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1 class="logo mr-auto"><a href="index.html">Imperial</a></h1> -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Projects</h3>
            <h4 class="section-description">MongoDB, Historical Celebrations and Web3!</h4>
          </div>
            <p class="class="section-description"">
              I've completed some Vyper training materials with <a href="https://vyper.fun/#/">Vyper Fun</a>; which were very educational! I've decided to begin building a MongoDB to store historical celebrations, a user table (hopefully web3 enabled) and access to the historical database for sms messaging one day prior to the celebration.
            </p>

            <p class="class="section-description"">
            Current Example of Stored Dict(More fields will be added):<br>
                [<br>
                {'month': "March", "day": "13", "year": "565 AD",'head': 'General Belisarius', 'body': "Celebrate the Life of the Last Great Roman General...General Belisarius. Only known to have died some day in March 565 AD."},<br>
                {'month': "March", "day": "15", "year": "44 BC",'head': 'Julius Caesar', 'body': "Died Age 55. "},<br>
                {'month': "March", "day": "15", "year": "493 AD",'head': 'Theodoric the Great', 'body': "Theodoric, in true Red Wedding fashion, offered a toast and killed Odoacer with his own hands in 493 AD, conquering Italy. He was both Gothic and Roman."},<br>
                {'month': "March", "day": "17", "year": "180 AD",'head': 'Marcus Aurelius', 'body': "Died Age 58."},<br>
                {'month': "March", "day": "17", "year": "763 AD",'head': 'Harun al-Rashid', 'body': "Name Day. 763 AD."},<br>
                {'month': "March", "day": "19", "year": "235 AD",'head': 'Severus Alexander', 'body': "Died Age 26 in 235 AD."},<br>
                {'month': "March", "day": "20", "year": "",'head': 'Solon', 'body': "Celebrate the Life of Solon. Chosen to coincide with International Day of Happiness"},<br>
                ]<br>
            </p>

            <h4 class="section-description">Datasets, Technical Analysis and Machine Learning!</h4>
            <p class="class="section-description"">
            There is an API currently being re-linked with RapidAPI associated with the current site. Using the ML algorithm from <a href="https://github.com/c1im4cu5/Crypto_Predictions">Crypto Predictions</a>, I'm in the process of reworking the algo for the API. Please stay tuned for a link for completion! <br>
            If you're interested in checking out the current API build, here is the link! <br>
            </p>

            <h4 class="section-description">Twitter Marketing Bot for API</h4>
            <p class="class="section-description"">
            Once all API linking has occurred, I'll be building a marketing bot to post on Twitter! I hope to have it on github for download shortly thereafter. I do not expect much difficulty in completion. <br>
            </p>

            <h4 class="section-description">Open Source!</h4>
            <p class="class="section-description"">
            I try to post some of my work on <a href="https://github.com/c1im4cu5">github</a>.<br>
            </p>
    </section><!-- End About Section -->

{% endblock content%}
