{% extends 'index.html' %}

{% block title %}Consulting Services - Parcae.io{% endblock title%}

{%block content%}

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      <div class="hero-logo">
        <img class="" src="static/img/logo.png" alt="">
      </div>

      <h1>Parcae</h1>
      <h2>Development Hub for Climacus</h2>
    </div>
  </div>
</section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo mr-auto"><img src="static/img/logo.png" alt=""></a>
      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1 class="logo mr-auto"><a href="index.html">Imperial</a></h1> -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Projects</h3>
            <h4 class="section-description">MongoDB, Historical Celebrations and Web3!</h4>
          </div>
            <p class="class="section-description"">
              We've added Metamask login! A historical celebrations database has been generated. All records are stored on MongoDB. We're looking to add SMS text messaging and email notifications to the site in the near future. <a href="{{ url_for('user_login') }}">Take a peek!</a>
            </p>

            <h4 class="section-description">Datasets, Technical Analysis and Machine Learning!</h4>
            <p class="class="section-description"">
            There is an API currently being re-linked with <a href="https://rapidapi.com/thebrotherscain-drHwIzpcDcy/api/cryptocurrency-vwap-with-candlesticks">RapidAPI.com</a>. associated with the current site! You can find EMA, DEMA, MCGD, Midprice, ALMA, VWMA, VWAP and more!<p>

            Using the ML algorithm from <a href="https://github.com/c1im4cu5/Crypto_Predictions">Crypto Predictions</a>, we're in the process of reworking the algo for the API. Furthermore, we'll be looking to incorporate the strategy into a potential Coinbase trading bot mixed with Gann Fan calculation via Python Pandas. <br>
            </p>

            <h4 class="section-description">Coinbase and Oxcarbon Trading Bots</h4>
            <p class="class="section-description"">
            We're currently running a grid bot strategy hooked to Coinbase that is producnig 20-35% APY (dependant on volume). The strategy is extremely safe. With current returns, we're looking to implement Triangular Arbritrage on Coinbase and Arbritrage with Coinbase/Oxcarbon upon a successful Python build.
            </p>

            <h4 class="section-description">Twitter Marketing Bot for API</h4>
            <p class="class="section-description"">
            Once all API linking has occurred, a marketing bot to post PNG's on Twitter is a foregone conclusion! There is an expectation it'll be available as an open source download from github shortly thereafter.<br>
            </p>

            <h4 class="section-description">NFT's</h4>
            <p class="class="section-description"">
            After a successful build of our Web3 user interface, we'll be looking to create an NFT collection (blockchain remains unchosen, but leaning toward AVAX). We're looking collobrate on the project! Please contact us if you're interested! We need someone that possesses skills in Adobe Illustrator.
            </p>

            <h4 class="section-description">Open Source!</h4>
            <p class="class="section-description"">
            Check out Climacus's work! <a href="https://github.com/c1im4cu5">Github Profile</a>.<br>
            </p>
    </section><!-- End About Section -->

{% endblock content%}
